<div class="col-10 offset-1 about">
  <h1>About Mind Your Mental </h1>

  <p>
    Mind Your Mental  was built by <a target="_blank" href="https://github.com/Shiz46/Learn_me/commits/master">Shizue</a> . A web developers who is on a mission to give free advice that improves better mental health. 
  </p>
  <br />
  <p>
    From her first psychology course, she fell in love with the way the mind works and the ability to understand herself and others. She is dedicated to helping other improve their mental health and advocating for better mental health care within different communities. She is also currently learning how to code in hopes that it will help her achieve this goal.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm4">
    <%= image_tag 'shizue.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text=center">Shizue Chalwell</h2>

    <br/>
    <p>
      Shizue is a web developer in training. She is currently enrolled in the UofT Coding Bootcamp prgram. 
    </p>
  </div>
</div>

</div>

<br class="clear"/>
<br/>
<br/>
<br/>
<br/>

